<section>
  <div class="container js-film-container">
    <ul class="container-item">
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
    </ul>
  </div>
  <div id="pagination" class="tui-pagination"></div>
</section>
