<section>
  <div class="container">
    <ul class="container-item">
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
      <li class="item">gsfghsfghsfbvbxvnvdndvn</li>
    </ul>
  </div>
</section>
