<header class="page-header library">
  <div class="container-had">
    <div class="header-up">
      <!-- логотип ссылка -->
      <a href="./index.html" class="logo link">
        <img src="./images/icon-filmoteka.svg" />
        <samp class="logo-txt">Filmoteka</samp>
      </a>
      <!-- навигация по страницам -->
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-btn btn-home link"> HOME </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-btn is-active-btn link"> MY LIBRARY </a>
           
          </li>
        </ul>
      </nav>
    </div>

  <div class="header-down">
    <ul class="button-list">
      <li class="button-item">
        <button class="btn lib-btn-active">WATCHED</button>
      </li>
      <li class="button-item">
        <button class="btn lib-btn-off queue">QUEUE</button>
      </li>
    </ul>
  </div>
  </div>
  
</header>
