<header class="page-header">
  <div class="container">
    <div class="header-up">
      <!-- логотип ссылка -->
      <a href="./index.html" class="logo link">
        <img src="./images/icon-filmoteka.svg" />
        <samp class="logo-txt">Filmoteka</samp>
      </a>
      <!-- навигация по страницам -->
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-btn link"> HOME </a>
          </li>
          <li class="nav-item">
            <a href="./library.html" class="nav-btn link"> MY LIBRARY </a>
            <!-- навигация по страницам -->
          </li>
        </ul>
      </nav>
    </div>

    <ul>
      <li class="button-item">
        <button class="lib-watched">WATCHED</button>
      </li>
      <li class="button-item">
        <button class="lib-queue">QUEUE</button>
      </li>
    </ul>
  </div>
  <div class="header-down">
    <input type="text" placeholder="Поиск фильмов" class="input-search" />
    <img src="./images/search-header.svg" alt="search" />
  </div>
</header>
