<header class="page-header">
    <div class="container">
        <div class="header-up">
            <!-- логотип ссылка -->
            <a href="./index.html" class="logo link">
               <img src="../images/icon-filmoteka.svg"> <samp class="logo-txt">Filmoteka</samp> 
            </a>
            <!-- навигация по страницам -->
            <nav>
                <ul class="nav-list">

                    <li class="nav-item">
                        <a href="./index.html" class="nav-btn link">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./library.html" class="nav-btn link">
                            MY LIBRARY
                        </a>
                    </li>

                </ul>
            </nav>


        </div>
        <div class="header-down">
            <input type="text" placeholder="Поиск фильмов" class="input-search">
            <img src="../images/search-header.svg" alt="search">
        </div>


    </div>

</header>