<div class="modal-container">
    <img src="../img/image1.jpg" alt="">
    <div>
        <h2>A FISTFUL OF LEAD</h2>
        <table class="ranking">
            <tr>
                <td>Vote / Votes</td>
                <td>7.3/1260</td>
            </tr>
            <tr>
                <td>Popularity</td>
                <td>100.2</td>
            </tr>
            <tr>
                <td>Original Title</td>
                <td>A FISTFUL OF LEAD</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>Western</td>
            </tr>
        </table>
        <h3>About</h3>
        <p>Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt
            settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide
            out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
            very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
            they’ve
            been double crossed – but by who and how?</p>
        <div>
            <button>add to Watched</button>
            <button>add to queue</button>
        </div>

    </div>


</div>