<header class="page-header">
    <div class="container">
        <div class="header-up">
            <!-- логотип ссылка -->
            <a href="./index.html" class="logo link">
                Filmoteka
            </a>
            <!-- навигация по страницам -->
            <nav>
                <ul class="nav-list">

                    <li class="nav-item">
                        <a href="./index.html" class=" link">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./library.html" class="link">
                            MY LIBRARY
                        </a>
                    </li>


                </ul>
            </nav>


        </div>
        <div class="header-down">
            <input type="text">
        </div>


    </div>

</header>