.page-header {
  min-height: 230px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-color: #000000;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56) 100%,
      rgba(0, 0, 0, 0.56) 100%
    ),
    url('/images/home-header-br-img-320.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container-had {
    padding: 48px 20px;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 100%,
        rgba(0, 0, 0, 0.56) 100%
      ),
      url('/images/home-header-br-img-768.jpg');

    max-width: 768px;
    // display: flex;
    // justify-content: center;

    // .logo-txt {
    //   display: block;
    // }
    .container-had {
      padding: 48px 73px;
    }

    .header-down {
      width: 336px;
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 100%,
        rgba(0, 0, 0, 0.56) 100%
      ),
      url('/images/home-header-br-img-1024.jpg');
    max-width: 1024px;

    // .logo-txt {
    //   display: block;
    // }
    .container-lib {
      padding: 48px 73px;
    }

    .header-down {
      width: 336px;
    }
  }

  .header-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // padding-top: 41px;
    margin-bottom: 37px;
  }
  .nav-list {
    display: flex;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-txt {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 12px;
  }
  @media screen and (max-width: 767px) {
    .logo-txt {
      display: none;
    }
  }

  .nav-list {
    display: flex;
    margin-bottom: 0px;
  }

  .nav-btn {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .nav-btn:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .is-active-btn::after {
    display: block;
    content: '';
    height: 3px;
    background-color: #ff6b08;
  }

  .btn-my-library {
    margin-left: 39px;
  }
  .btn-home {
    margin-right: 39px;
  }

  .header-down {
    text-align: center;
    position: relative;
    margin: 0 auto;
  }

  .input-search {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid;
    caret-color: #ffffff;
    color: #ffffff;
    outline: none;
  }
  .input-search::placeholder {
    font-size: 14px;
    line-height: 16px;
    border-top: none;
    color: #ffffff;
    caret-color: #ffffff;
  }
  .search-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 12px;
    height: 12px;
  }
}
