.container-item {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.item {
  margin: 15px;

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 3);
  }
}
